@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family:Poppin_regular ;
    src: url('../fonts/Poppins-Regular.ttf');
  }
  @font-face {
    font-family:Poppin_Medium ;
    src: url("../fonts/Poppins-Medium.ttf");
    
  }
}